@import './app.scss';

$alert-message-background: $main-blue;
$alert-message-border: 2px solid $accents-blue;

.alert {
    @include absolute-overlay(
        $background: $dark-overlay-color, 
        $z-index: $overlay-z-index + 2
    );

    @include flex-center();

    & .alert-popup {
        @include flex-column();

        background: $alert-message-background;
        border: $alert-message-border;
        color: $light-color;
        padding: $large-padding;
        width: 50%;

        & .alert-header {
            @include flex-row($alignment: flex-end);
            width: 100%;

            & .alert-button {
                @include background-free-button($color: $light-color);
            }
        }
    }
}