@import './app.scss';

$alert-message-background: #2d3436;
$alert-message-border: 2px solid #636e72;

.alert {
    @include absolute-overlay(
        $background: $dark-overlay-color, 
        $z-index: $overlay-z-index + 2
    );

    @include flex-center();

    &.hidden {
        display: none;
    }

    & .alert-message {
        background: $alert-message-background;
        border: $alert-message-border;
        color: $light-color;
        padding: $large-padding;
        width: 50%;
    }
}

/*
    z-index: 9005;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    border: 2px solid gray;
    background: beige;
    padding: 16px;
    padding: 16px;
    color: white;*/