@import './app.scss';

$alert-message-background: $main-blue;
$alert-message-border: 2px solid $accents-blue;
$alert-error-border: 2px solid $accents-red;
$alert-warning-border: 2px solid $accents-orange;
$alert-success-border: 2px solid $accents-green;
$alert-info-border: 2px solid $accents-blue;

$alert-max-width: 500px;

.alert {
    @include absolute-overlay(
        $background: $dark-overlay-color, 
        $z-index: $overlay-z-index + 3
    );

    @include flex-center();

    & .alert-popup {
        @include flex-column();

        background: $alert-message-background;
        border: $alert-message-border;
        color: $light-color;
        padding: $large-padding;

        width: 50%;
        max-width: 500px; 

        @include for-size(small) {
            width: 75%;
        }

        &.success {
            background: $main-green;
            border: $alert-success-border;
        }

        &.warning {
            background: $main-orange;
            border: $alert-warning-border;
        }

        &.error {
            background: $main-red;
            border: $alert-error-border;
        }

        &.info {
            background: $main-blue;
            border: $alert-info-border;
        }

        & .alert-header {
            @include flex-row($alignment: flex-end);
            width: $full-width;

            & .alert-button {
                @include background-free-button($color: $light-color);
            }
        }
    }
}