/* Margin and padding. */
$small-margin: 10px;
$small-padding: 8px;
$large-padding: 15px;

/* Z-indexes. */
$overlay-z-index: 9000;

/* Breakpoints. */
$breakpoint-small-device: 500px;

/* Colors. */
$light-color: #fff;
$dark-overlay-color: #636e729a;
$main-blue: #0984e3;
$accents-blue: #74b9ff;

$main-green: #00b894;
$main-red: #d63031;

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared flex mixins. */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column($alignment: center) {
    display: flex;
    flex-direction: column;
    align-items: $alignment;
}

@mixin flex-row($alignment: center) {
    display: flex;
    justify-content: $alignment;
}

/* Shared overlay mixin. */
@mixin absolute-overlay($background,
                        $top: 0, 
                        $left: 0, 
                        $right: 0, 
                        $bottom: 0, 
                        $z-index: $overlay-z-index) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    z-index: $z-index;
    background-color: $background;

    &.hidden {
        display: none;
    }
}

/* Shared button styles. */
@mixin background-free-button($color: $main-blue) {
    border: none;
    background: none;
    color: $color;
}

/* Media queries. */
@mixin for-size($size) {
    @if $size == small {
        @media (max-width: $breakpoint-small-device) {
            @content;
        }
    }
}