/* Margin and padding. */
$small-margin: 10px;
$small-padding: 8px;
$large-padding: 15px;

/* Z-indexes. */
$overlay-z-index: 9000;

/* Breakpoints. */
$breakpoint-small-device: 500px;

/* Colors. */
$light-color: #fff;
$dark-overlay-color: #636e729a;
$accents-gray: #dfe6e9;

$main-blue: #0984e3;
$accents-blue: #74b9ff;

$main-green: #00b894;
$accents-green: #55efc4;

$main-orange: #e17055;
$accents-orange: #fab1a0;

$main-red: #d63031;
$accents-red: #ff7675;

/* Widths. */
$full-width: 100%;
$full-height: 100%;

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts. */
$large-font: 105%;
$large-line-height: 28px;
$font-weight-bold: 600;

/* Shared flex mixins. */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column($alignment: center) {
    display: flex;
    flex-direction: column;
    align-items: $alignment;
}

@mixin flex-row($alignment: center) {
    display: flex;
    justify-content: $alignment;
}

/* Shared overlay mixin. */
@mixin absolute-overlay($background,
                        $top: 0, 
                        $left: 0, 
                        $right: 0, 
                        $bottom: 0, 
                        $z-index: $overlay-z-index) {
    position: fixed;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    z-index: $z-index;
    background-color: $background;

    &.hidden {
        display: none;
    }
}

/* Shared button styles. */
@mixin background-free-button($color: $main-blue) {
    border: none;
    background: none;
    color: $color;
}

/* Shared card styles. */

@mixin container-padding {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
    padding-left: $large-padding;
    padding-right: $large-padding;
}

@mixin card {
    margin: $small-margin;
    border: $quote-card-border;
    width: $full-width;
    max-width: $card-max-width;
}

@mixin card-padding {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
}

@mixin card-margin {
    margin-top: $small-margin;
    margin-bottom: $small-margin;
}

@mixin line-with-ellipsis($max-width) {
    max-width: $max-width;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Media queries. */
@mixin for-size($size) {
    @if $size == small {
        @media (max-width: $breakpoint-small-device) {
            @content;
        }
    }
}