@import './app.scss';

$article-title-max-width: 450px;
$article-body-width: $full-width;
$article-img-width: 25%;
$article-header-border: 2px solid $accents-blue;

.article {
    @include flex-row($alignment: space-between);

    @include for-size(small) {
        flex-direction: column;
    }

    &.breaking-news, &:hover {
        background-color: $accents-gray;
    }

    & .article-body {
        width: $article-body-width;
        margin: $small-margin;

        /* Avoid content going right up against the scrollbar. */
        @include for-size(small) {
            padding-right: $large-padding;
        }

        & .article-overview {
            @include card-padding();
    
            border-bottom: $article-header-border;
            margin-bottom: $small-margin;
    
            & .title {
                @include article-header();
            }
    
            & .article-source {
                @include flex-row($alignment: space-between);

                @include for-size(small) {
                    flex-direction: column;
                }
            }
        }

        & .article-details {
            & .article-description {
                & ul {
                    padding-left: $large-padding;

                    & li:not(:last-child) {
                        margin-bottom: $small-margin;
                    }
                }
            }
        }
    }

    & .article-img {
        width: $article-img-width;
        margin: $small-margin;
        align-self: center;

        @include for-size(small) {
            width: $full-width;
        }

        & img {
            width: $full-width;
        }
    }
}