@import './app.scss';
@import './quote-common.scss';

$quote-insights-border: 2px solid $main-blue;

$quote-desktop-width: 90%;
$quote-mobile-width: 100%;
$quote-max-width: 850px;

.insights {
    @include absolute-overlay(
        $background: $dark-overlay-color, 
        $z-index: $overlay-z-index + 2
    );

    @include flex-center();

    & .quote-insights {
        @include flex-column($alignment: stretch);

        background: $light-color;
        border: $quote-insights-border;
        padding: $large-padding;

        width: $quote-desktop-width;
        height: $quote-desktop-width;
        max-width: $quote-max-width;

        @include for-size(small) {
            width: $quote-mobile-width;
            height: $quote-mobile-width;
        }

        & .quote-overview {        
            @include quote-overview();
            @include for-size(small) {
                align-items: flex-start;
            }

            flex-shrink: 0;
            
            & .quote-actions {
                @include quote-actions();
    
                & button {
                    padding-left: $small-padding;
    
                    &.close-button {
                        @include background-free-button();
                    }
                }
            }
        
            & .type {
                text-align: left;
            }
        }

        & .quote-details {
            @include flex-column($alignment: flex-start);

            & .quote-panel {
                display: flex;
                flex-shrink: 0;

                & div {
                    padding: $small-padding;
                    color: $light-color;
                    background-color: $accents-blue;

                    &:hover, &.selected {
                        background-color: $main-blue;
                    }
                }
            }

            & .quote-news {
                overflow-y: scroll;
            }
        }

        & .quote-footer {
            @include quote-footer();
            flex-shrink: 0;
        }
    }
}