@import './app.scss';

/* Heights and widths. */
$full-width: 100%;
$full-height: 100%;
$max-width: 700px;
$card-max-width: 400px;

$min-search-results-height: 48px;
$max-search-results-height: 400px;
$search-bar-height: 48px;

/* Fonts. */
$large-font: 105%;
$large-line-height: 28px;
$font-weight-bold: 600;

/* Colors. */
$placeholder-color: #b2bec3;
$search-input-color: #dfe6e9;
$search-bar-blue: $main-blue;
$search-accents-blue: $accents-blue;

$positive-num: $main-green;
$negative-num: $main-red;

/* Borders. */
$search-focus-blue-border: 2px solid $search-accents-blue;
$quote-card-border: 2px solid $search-bar-blue;

/* Mixins. */

@mixin qualified-full-width {
    width: $full-width;
    max-width: $max-width;
}

@mixin flex-wrap-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin search-padding {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
    padding-left: $large-padding;
    padding-right: $large-padding;
}

@mixin search-focus {
    outline: none;
    border: $search-focus-blue-border;
    border-bottom: none;
}

@mixin card {
    margin: $small-margin;
    border: $quote-card-border;
    width: $full-width;
    max-width: $card-max-width;
}

@mixin card-padding {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
}

/* Cross-browser support for calculated max-height. */
@mixin max-quote-height {
    $max-height: calc(100vh - $search-bar-height);
    max-height: -webkit-calc($max-height);
    max-height: -moz-calc($max-height);
    max-height: $max-height;
}

#search-input {
    @include search-padding();
    @include qualified-full-width();

    font-size: $large-font;
    line-height: $large-line-height;
    background-color: $search-input-color;

    &:focus, &.search-active {
        @include search-focus();
    }
}

/* Note that Firefox adds a lower opacity to the placeholder,
 * so we use opacity: 1 to fix this. */
::placeholder {
    color: $placeholder-color;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $placeholder-color;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: $placeholder-color;
}

#search-button {
    @include flex-center();

    height: $search-bar-height;
    width: $search-bar-height;

    color: $light-color;
    background-color: $search-bar-blue;
}

.search-container {
    @include flex-center();
    flex-direction: column;
}

.search-bar {
    @include flex-center();
    @include qualified-full-width();

    z-index: $overlay-z-index + 1;
}

.search-overlay {
    @include absolute-overlay($dark-overlay-color);
}

/* Search Results. */

.search-results {
    @include qualified-full-width();

    position: fixed; 
    max-height: $max-search-results-height;
    overflow-y: scroll;

    top: $search-bar-height;
    z-index: $overlay-z-index + 1;

    border-left: $search-focus-blue-border;
    border-right: $search-focus-blue-border;
    border-bottom: $search-focus-blue-border;
    background: $search-input-color;

    &.hidden {
        display: none;
    }
}

.search-prompt, .no-results {
    padding: $large-padding;
    font-weight: 400;
    font-size: $large-font;
}

.search-prompt-container, .no-results-container {
    @include search-padding();
    @include flex-center();

    height: $full-height;

    & i {
        @include background-free-button();
    }
}

.security {
    @include search-padding();
    @include flex-center();

    @include for-size(small) {
        flex-direction: column;
    }

    &:hover {
        background-color: $search-accents-blue;
    }

    & .symbol {
        width: 25%;
        font-weight: $font-weight-bold;

        /* for block-level elements, auto would return the width to 100% */
        @include for-size(small) {
            width: auto;
        }
    }
    
    & .name {
        flex: 1;
    }
    
    & .type {
        width: 20%;
        text-align: right;

        @include for-size(small) {
            width: auto;
        }
    }
}

.quotes {
    @include flex-wrap-row();
    @include max-quote-height();
    overflow-y: scroll;
}

/* Quote card. */
.quote {
    @include card();
    @include search-padding();

    & .quote-overview {
        @include card-padding();
        @include flex-row($alignment: space-between);
        border-bottom: $quote-card-border;

        & .quote-name {
            @include flex-column($alignment: flex-start);
        }

        & .quote-actions {
            & button {
                padding-left: $small-padding;

                &.add-card {
                    @include background-free-button($main-green);
                }

                &.remove-card {
                    @include background-free-button($main-red);
                }

                &.quote-insights {
                    @include background-free-button();
                }
            }
        }
    
        & .type {
            text-align: left;
        }
    }

    & .quote-info {
        @include card-padding();

        line-height: $large-line-height;
        border-bottom: $quote-card-border;

        & .quote-row {
            @include flex-row($alignment: space-between);

            & .field {
                font-weight: $font-weight-bold;
            }

            & .value {
                & .positive {
                    color: $positive-num;
                }

                & .negative {
                    color: $negative-num;
                }
            }
        }
    }

    & .quote-footer {
        @include flex-row($alignment: space-between);

        padding-top: $small-padding * 2;
        padding-bottom: $small-padding;

        & .refresh-button {
            @include background-free-button();
        }
    }
}

