@import './app.scss';
@import './quote-common.scss';

$quote-insights-border: 2px solid $main-blue;

$quote-mobile-width: $full-width;
$quote-width: 850px;

$quote-header-height: 60px;
$quote-footer-height: 40px;

$quote-details-height: 80%;
$quote-details-mobile-height: 85%;
$quote-details-max-height: 600px;

.insights {
    @include absolute-overlay(
        $background: $dark-overlay-color, 
        $z-index: $overlay-z-index + 2
    );

    @include flex-center();

    & .quote-insights {
        background: $light-color;
        border: $quote-insights-border;
        padding: $large-padding;

        width: $quote-width;

        @include for-size(small) {
            @include flex-column($alignment: stretch);
            width: $quote-mobile-width;
            height: $quote-mobile-width;
        }

        & .quote-overview {        
            @include quote-overview();
            @include for-size(small) {
                align-items: flex-start;
                height: $quote-header-height;
            }

            flex-shrink: 0;
            
            & .quote-actions {
                @include quote-actions();
    
                & button {
                    padding-left: $small-padding;
    
                    &.close-button {
                        @include background-free-button();
                    }
                }
            }
        
            & .type {
                text-align: left;
            }
        }

        & .quote-details {
            @include flex-column($alignment: flex-start);

            height: $quote-details-height;
            max-height: $quote-details-max-height;

            @include for-size(small) {
                height: calc(100% - #{ $quote-header-height + $quote-footer-height });
                max-height: calc(100% - #{ $quote-header-height + $quote-footer-height });
            }

            & .quote-panel {
                display: flex;
                flex-shrink: 0;

                & div {
                    padding: $small-padding;
                    color: $light-color;
                    background-color: $accents-blue;

                    &:hover, &.selected {
                        background-color: $main-blue;
                    }
                }
            }

            & .quote-news, & .quote-sentiment {
                overflow-y: scroll;
                width: $full-width;

                /* Avoid content going right up against the scrollbar. */
                @include for-size(small) {
                    padding-right: $large-padding;
                }

                &.hidden { 
                    display: none;
                }
            }

            & .quote-sentiment {
                & .sentiments-container {
                    & .sentiment-header {
                        @include article-header-container();

                        & .title {
                            @include article-header();
                        }
                    }
                }
            }
        }

        & .quote-footer {
            @include quote-footer();

            flex-shrink: 0;
            padding-bottom: 0;
        }
    }
}