/* Heights and widths. */
$full-width: 100%;
$full-height: 100%;
$max-width: 700px;

$min-search-results-height: 48px;
$max-search-results-height: 400px;
$search-bar-height: 48px;

/* Fonts. */
$large-font: 105%;

/* Margin and padding. */
$search-small-padding: 8px;
$search-large-padding: 15px;

/* Colors. */
$light-icon-color: #fff;
$placeholder-color: #b2bec3;
$search-input-color: #dfe6e9;
$search-bar-blue: #0984e3;
$search-accents-blue: #74b9ff;
$search-overlay-color: #636e729a;

/* Borders. */
$search-focus-blue-border: 2px solid $search-accents-blue;

/* Z-indexes. */
$overlay-z-index: 9000;

/* Mixins. */

@mixin qualified-full-width {
    width: $full-width;
    max-width: $max-width;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin search-padding {
    padding-top: $search-small-padding;
    padding-bottom: $search-small-padding;
    padding-left: $search-large-padding;
    padding-right: $search-large-padding;
}

@mixin search-focus {
    outline: none;
    border: $search-focus-blue-border;
    border-bottom: none;
}

#search-input {
    @include search-padding();
    @include qualified-full-width();

    font-size: $large-font;
    line-height: 28px;
    background-color: $search-input-color;

    &:focus, &.search-active {
        @include search-focus();
    }
}

/* Note that Firefox adds a lower opacity to the placeholder,
 * so we use opacity: 1 to fix this. */
::placeholder {
    color: $placeholder-color;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $placeholder-color;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: $placeholder-color;
}

#search-button {
    @include flex-center();

    height: $search-bar-height;
    width: $search-bar-height;

    color: $light-icon-color;
    background-color: $search-bar-blue;
}

.search-container {
    @include flex-center();
    flex-direction: column;
}

.search-bar {
    @include flex-center();
    @include qualified-full-width();

    z-index: $overlay-z-index + 1;
}

.search-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $overlay-z-index;
    background-color: $search-overlay-color;

    &.hidden {
        display: none;
    }
}

/* Search Results. */

.search-results {
    @include qualified-full-width();

    position: fixed; 
    height: 40%;
    max-height: $max-search-results-height;
    overflow-y: scroll;

    top: $search-bar-height;
    z-index: $overlay-z-index + 1;

    border-left: $search-focus-blue-border;
    border-right: $search-focus-blue-border;
    border-bottom: $search-focus-blue-border;
    background: $search-input-color;

    &.hidden {
        display: none;
    }
}

.search-prompt, .no-results {
    padding: $search-large-padding;
    font-weight: 400;
    font-size: $large-font;
}

.search-prompt-container, .no-results-container {
    @include search-padding();
    @include flex-center();

    height: $full-height;

    & .fa, & .far {
        color: $search-bar-blue;
    }
}

.security {
    @include search-padding();
    @include flex-center();

    &:hover {
        background-color: $search-accents-blue;
    }
}

.symbol {
    width: 25%;
    font-weight: 600;
}

.name {
    flex: 1;
}

.type {
    width: 20%;
    text-align: right;
}