@import './app.scss';

.sentiment {
    @include flex-row($alignment: space-between);
    @include card-padding();
    @include card-margin();

    padding-right: $small-padding;

    & .sentiment-entity, & .sentiment-type {
        width: 45%;
        text-align: left;
    }

    & .sentiment-polarity {
        @include flex-row($alignment: space-between);
        
        align-items: center;
        width: 10%;

        & .polarity {
            &.positive {
                color: $accents-green;
            }

            &.neutral {
                color: $accents-orange;
            }

            &.negative {
                color: $accents-red;
            }
        }
    }
}