@import './app.scss';

.sentiment {
    @include flex-row($alignment: space-between);
    @include card-padding();
    @include card-margin();

    @include for-size(small) {
        flex-direction: column;
    }

    padding-right: $small-padding;

    & .sentiment-entity, & .sentiment-type {
        width: 45%;
        text-align: left;

        @include for-size(small) {
            width: $full-width;
        }
    }

    & .sentiment-entity {
        & .title {
            @include article-header();
        }
    }

    & .sentiment-polarity {
        @include flex-row($alignment: space-between);
        @include for-size(small) {
            width: $full-width;
            justify-content: flex-end;
        }

        align-items: center;
        width: 10%;

        & .polarity {
            padding-right: $small-padding;

            &.positive {
                color: $accents-green;
            }

            &.neutral {
                color: $accents-orange;
            }

            &.negative {
                color: $accents-red;
            }
        }
    }
}